@import "../../Styles/variables.scss";

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: $Poppins;
}

.addAdminButton,
.removeAdminButton {
  padding: 8px 16px;
  background-color: $primary; /* Example background color */
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
  font-family: $Poppins;
}
.addAdminButton:hover {
  background-color: #00dfff; /* Example background color */
}

.removeAdminButton {
  background-color: $dark;
}
.removeAdminButton:hover {
  background-color: #fd263f;
}

.removeAdminButton:focus {
  /* Styles when the default button is focused */
  outline: none;
  box-shadow: 0 0 5px #ff4d4d; /* Example box shadow */
}

.addAdminButton:focus {
  /* Styles when the default button is focused */
  outline: none;
  box-shadow: 0 0 5px #ff4d4d; /* Example box shadow */
}
.button:hover {
  background-color: $dark; /* Example hover background color */
}

input {
  font-family: $Poppins;
}
