.anonymous_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-size: contain;
  background-position: center;
  margin: 10px;
  background-color: white;
  /* Set the background image using the provided NotAnonymusImg */
  background-image: url("../../photos/AnonymusImg.jpg");
  cursor: pointer;
  transition: 0.3s;
}

.notAnonymous_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-size: contain;
  background-position: center;
  margin: 10px;
  background-color: white;
  /* Set the background image using the provided NotAnonymusImg */
  background-image: url("../../photos/NotAnonymousImg.webp");
  cursor: pointer;
  transition: 0.3s;
}

.center_button {
  margin: 0 auto;
}

.report-form {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.full-page-form {
  margin-top: 20px;
}

/* Add any other styles you want to customize the form */
.center_question {
  align-items: center !important;
}
