@import "../../Styles/variables.scss";

.section {
  text-align: center;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Translucent color */
  box-shadow: 0.5px 0.5px #888888;
  padding: 20px;
  border-radius: 12px;
}

.section__button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.section__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.section__button img {
  // width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.anonyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #3b3b3b;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.anonyForm label,
.labell,
.labelll {
  margin-top: 10px;
}

.labell {
  color: white;
}

.labelll {
  color: black;
}

.anonyForm select,
.anonyForm input,
.anonyForm textarea {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  font-family: $Poppins;
}

.anonyForm textarea {
  height: 100px;
}

.anonyForm button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff455a;
  color: white;
  cursor: pointer;
}

.anonyForm button[type="button"] {
  margin-right: 10px;
}

.isNotAnonynousForm button[type="button"] {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  margin-right: 10px;

  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.isNotAnonynousForm {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: $Poppins;

  // align-items: right;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: $Poppins;
}

.select,
.formControl {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.showSectionButton {
  position: static;
  right: 0 !important;
}

.invalidEmail {
  color: red;
  // font-size: 14px;
  margin-top: 5px;
}

.textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: $Poppins;

  resize: vertical;
}

.submitButton {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.showSectionButton {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.showSectionButton:hover {
  text-decoration: none;
}

.nameAndMail {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nameAndMail {
    flex-direction: column;
    align-items: flex-start;
  }
}

.label {
  align-items: center;
  margin-top: 5px;
  // width: 100%;
  padding: 5px;
}

.input {
  margin-top: 5px;
  width: 100%;
  padding: 8px;
  // margin-right: 20px;

  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

select,
option,
button {
  font-family: $Poppins;
}

.section__button_container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  // white-space: nowrap;
}

.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  /* font-family: var(--toastify-font-family); */
  cursor: default;
  direction: ltr;
  z-index: 0;
  align-items: center;
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
