.container {
  max-width: 60%;
  margin: 0 auto;
  text-align: center; // Add this line to center the button
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.select {
  padding: 8px;
  width: 70%;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
