nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f24949;
  color: white;
  padding: 0.5rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

a:hover {
  background-color: white;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo img {
  width: 100px;
  height: 50px;
  margin-right: 0.5rem;
}
