@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Rubik+Spray+Paint&family=Varela+Round&display=swap");
.header {
  background: #00d3ff;
  width: 100%;
  height: 100px;
  padding: 0 1.5rem;
  transition: 0.3s ease all;
}
@media (min-width: 48em) {
  .header {
    padding: 0 3rem;
  }
}
.header__content {
  overflow: hidden;
  color: #fff;
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.header__content__logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.header__content__nav {
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 211, 255, 0.9);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transform: translate(0);
  transition: 0.3s ease transform;
}
@media (min-width: 48em) {
  .header__content__nav {
    transform: none;
    flex-direction: row;
    background: transparent;
    width: auto;
    height: 100%;
    position: static;
  }
}
.header__content__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 48em) {
  .header__content__nav ul {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    margin-right: calc(0.5rem + 16px);
  }
}
.header__content__nav ul li:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 48em) {
  .header__content__nav ul li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.header__content__nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  transition: 0.3s ease all;
}
.header__content__nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header__content__nav ul li a:active {
  border-radius: calc(12px + 6px);
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
}
.header__content__nav button {
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  background: #ff455a;
  color: black;
  border: 1px solid transparent;
  transition: 0.3s ease all;
}
.header__content__nav button:hover {
  border-color: #00d3ff;
  background: rgba(255, 69, 90, 0.1);
  color: #00d3ff;
}
.header__content__nav button:active {
  border-color: #ff455a;
  background: linear-gradient(rgba(0, 211, 255, 0.2), rgba(0, 211, 255, 0.3));
  color: #00d3ff;
}
.header__content__nav.isMenu {
  transform: translate(100%);
}
.header__content__toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: 0.3s ease all;
  position: relative;
}
.header__content__toggle:hover {
  color: #ff455a;
}
@media (min-width: 48em) {
  .header__content__toggle {
    display: none;
  }
}/*# sourceMappingURL=Header.module.css.map */