.form {
  padding: 1rem 5rem;
  border-radius: 0.4rem;
  border: 3px rgb(192, 43, 43) solid;
  display: flex;
  width: min-content;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute;
}
.form > div > input {
  text-align: right;
}
.form > h1 {
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.form > div {
  margin-block: 0.45rem;
  display: flex;
  flex-direction: row-reverse;
  width: 14rem;
  justify-content: space-between;
}

.form .textareaDiv {
  flex-direction: column;
  gap: 1rem;
  min-height: 80%;
}

.form .textareaDiv label {
  text-align: right;
}

.form .textareaDiv textarea {
  min-height: 80%;
}
.form > input,
textarea {
  resize: none;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 2px solid rgb(223, 49, 49);
}

.reportButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.form > textarea {
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: rgb(223, 49, 49);

  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: gray;
}
