.page_container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 10px;
}

.content {
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 211, 255, 0.1);
}

.footer_content {
  flex: 1;
  margin-right: 20px;
}

.footer_social {
  display: flex;
  align-items: center;
}

// Media query for mobile layout
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

  .footer_content {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
