@import "../../Styles/variables";

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  & > div {
    border: none !important;
    border-radius: 12px;

    h3 {
      text-align: center;
      font-weight: bold !important;
      font-size: 1.35rem;
      letter-spacing: 0.4px;
      text-decoration: underline;
    }
    // p {
    //   text-align: center;
    // }
    .h2Explain {
      color: $dark;
    }
  }
  .infoContainer {
    margin-bottom: 20px;
    // background-color: rgba(255, 255, 255, 0.8); /* Translucent color */
    padding: 10px;
    border: 1px solid gray;
    .deleteButton {
      background-color: gray;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 8px 12px;
      cursor: pointer;
    }
  }

  .editContainer {
    margin-top: 20px;
    .editButton {
      background-color: gray;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 8px 12px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
