@import "../../Styles/variables.scss";

.edit_information {
  justify-content: center;
  align-items: center;
  font-family: $Poppins;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
}

.container {
  width: 80%;
}

.edit_information__title {
  font-size: 24px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.edit_information__field {
  margin-bottom: 20px;
}

.edit_information__label {
  font-weight: bold;
}

.edit_information__input,
.edit_information__textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: $Poppins;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.edit_information__textarea {
  height: 200px;
  white-space: pre-wrap; /* or pre-line */
}

.edit_information__button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: $primary;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.edit_information__button:hover {
  background-color: #00dfff;
}

.align-right {
  text-align: right;
}
